.aside {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  height: 100%;
  padding: var(--space-lg) var(--space-md);
  border-right: var(--border-width) solid var(--color-border);
  background: var(--color-surface-sunken);

  &__logo {
    color: var(--text-accent);
    font-size: var(--fs-h6);
    font-weight: 700;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  &__link {
    padding: var(--space-2xs) var(--space-xs);
    border-radius: var(--radius-md);
    color: var(--color-text-secondary);
    font-weight: 600;
    transition:
      color 0.15s ease,
      background-color 0.15s ease;

    &:hover {
      color: var(--color-text-primary);
      background: var(--color-surface);
    }

    &--active {
      color: var(--text-accent);
      background: var(--bg-accent);
    }
  }

  &__settings {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    margin-top: auto;
    padding-top: var(--space-md);
    border-top: var(--border-width) solid var(--color-border);
  }

  &__toggle-group {
    display: flex;
    gap: var(--space-2xs);
  }
}
